*{
  overflow-x: hidden;
}

body {
  background-color: #92b9b9;
  font-family: calibri;


}


nav ul  {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }


}
h1 {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  margin: 100px;
  font-size: 40px;
}

li {
  display: inline-block;

}

nav{
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fc03e3;
  width: 100%;
  overflow-y: hidden;



}

.pic{
margin-left: 40%;
padding-top: 5%;

}



h1 {
  color: #ffffff
}

h2 {
  color: #ffffff
}

p {
  color: #f1f9f8
}

}